<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



    <bean class="real_spring.InjectRandomIntAnnotationBeanPostProcessor"/>
    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>





    <bean id="s" class="java.lang.String">
        <constructor-arg value="Trust me"/>
    </bean>


    <bean id="talkingRobot" class="real_spring.TalkingRobot">

        <property name="quoters">
            <list>
                <ref bean="shakespearQuoter"/>
                <ref bean="terminatorQuoter"/>
            </list>
        </property>
    </bean>

    <bean id="shakespearQuoter" class="real_spring.ShakespearQuoter">
        <property name="message" value="2 B || ! 2 B"/>

    </bean>


    <bean id="terminatorQuoter" class="real_spring.TerminatorQuoter" scope="prototype" destroy-method="terminate" >
        <property name="messages">
            <list>
                <value>I'll be back</value>
                <ref bean="s"/>
                <value>Astalavista baby</value>
            </list>
        </property>
    </bean>
</beans>




